body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

header,
.hero,
footer {
    background-color: hsl(215, 28%, 17%);
    color: #F9FAF8;
}

header,
section {
    padding: 15px 20% 75px;
}

.info,
.quote {
    padding: 15px 25% 75px;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: #FFF;
}

header h3 {
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.left,
.right {
    flex: 1;

}

.left {
    padding-right: 25px;
}

.right img {
    height: 250px;
    width: 500px;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

header li,
.hero p,
footer p {
    font-size: 18px;
    color: #E5E7EB;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
    text-align: center;
    margin: 30px 0px;
}

.images {
    display: flex;
    gap: 50px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 5px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote em {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    margin: 50px 0;
    display: block;
}

.quote .person {
    text-align: right;
    font-weight: bold;
}

button {
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: #FFF;
}

.cta {
    padding-top: 75px;
}

.cta .inner {
    color: #FFF;
    background-color: #3882F6;
    padding: 25px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner h4 {
    font-weight: bold;
}

.inner p {
    font-weight: lighter;
}

.header-button {
    background-color: #3882F6;
    color: #FFF;
    border: 1px solid #3882F6;
}

.cta-button {
    background-color: #3882F6;
    color: #FFF;
    border: 1px solid #FFF;

}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 15px 20%;
}